@model IEnumerable<big_project_LT_Web_TEAM3.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách giáo viên</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-skyblue">Thêm giáo viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenGV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVuGV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVuGV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
